.All {
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* align-items: flex-start; */
    /* transform: translate(0%,-270%); */
    
}

.edit {
    background: #0366d6;
    border-radius: 25%;
    color: white;
    font-size: 1.5rem;
}
.delete {
    background: #0366d6;
    border-radius: 25%;
    color: white;
    font-size: 1.5rem;

}
.new {
    background: #0366d6;
    border-radius: 25%;
    color: white;
    font-size: 1.5rem;

}
.Button-Box {
    height: 400px;
    display: flex;
    align-items: baseline;
}